     <h2 class="blog-headline">プロフィール　設定</h2>
     <br>
     <div class="blog-box">
       <div class ="blog-item clearfix">
        <h3 class="menu_heda">診断士資格</h3> 
          <% if @profiles.capa == 1 %>  
        　  <p>有り</p>
        　  <br>
          <% else %>
        　<p>無し</p>
        　<br>
          <% end %>
        <h3 class="menu_heda">2次試験受験経験</h3>
       　<% if @profiles.expe == 1 %>  
        　  <p>有り</p>
        　  <br>
            <h3 class="menu_heda">事例1最高結果</h3>
        　<% if @profiles.most1 == 3 %>  
        　　<p>A</p>
        　　<br>
        　<% elsif @profiles.most1 == 2 %>  
        　　<p>B</p>
        　　<br>
        　<% elsif @profiles.most1 == 1 %>  
        　　<p>C</p>
        　　<br>        　
        　<% elsif @profiles.most1 == 0 %>  
        　　<p>D</p>
        　　<br> 
        　<% end %>　
        　<h3 class="menu_heda">事例2最高結果</h3>
        　<% if @profiles.most2 == 3 %>  
        　　<p>A</p>
        　　<br>
        　<% elsif @profiles.most2 == 2 %>  
        　　<p>B</p>
        　　<br>
        　<% elsif @profiles.most2 == 1 %>  
        　　<p>C</p>
        　　<br>        　
        　<% elsif @profiles.most2 == 0 %>  
        　　<p>D</p>
        　　<br>  
        　<% end %>　
        　<h3 class="menu_heda">事例3最高結果</h3>
        　<% if @profiles.most3 == 3 %>  
        　　<p>A</p>
        　　<br>
        　<% elsif @profiles.most3 == 2 %>  
        　　<p>B</p>
        　　<br>
        　<% elsif @profiles.most3 == 1 %>  
        　　<p>C</p>
        　　<br>        　
       　　 <% elsif @profiles.most3 == 0 %>  
        　　<p>D</p>
        　　<br>     
        　<% end %>
        　<h3 class="menu_heda">事例4最高結果</h3>
        　<% if @profiles.most4 == 3 %>  
        　　<p>A</p>
        　　<br>
        　<% elsif @profiles.most4 == 2 %>  
        　　<p>B</p>
        　　<br>
        　<% elsif @profiles.most4 == 1 %>  
        　　<p>C</p>
        　　<br>        　
        　<% elsif @profiles.most4 == 0 %>  
        　　<p>D</p>
        　　<br>      
        　<% end %> 
        　  
        　<% else %>
        　　<p>無し</p> 
        　　<br>
         <h3 class="menu_heda">コメント</h3>
        <p><% @profiles.profile %></p>
        　<% end %>        
       </div>    
     </div> 
 <div　class="button_side">
 <%= button_to "修正する。", {controller: 'profiles', action: 'edit'}, {method: :get}} %> 
</div>       
  <br>
 <br>
  <div　class="button_side">
  <%= link_to :back do %>
     <button>前に戻る</button>
   <% end %>    
  </div>
 