<h2>背景写真とサイト名称</h2>
<br>
<p>
背景に使用した学舎は、宮城県の黒川郡にある粕川小学校(現在、廃校)です。<br>
そして、このサイトの名称になっている『学びの庭』は、同校の校歌に出てくるフレーズから命名しました。
※実際は、記憶違いで同校、校歌の歌詞に『学びの庭』は存在していませんでした。<br>
効果的な学習方法を探している方々が集う庭になってくれたら幸いです。<br>
</p>
<br>
<div align="center">
<img src="/assets/kasukawa.png" width="300" height="150" alt="">
</div>
<br>
<br>
<h2>使用PDFファイル等の扱いについて</h2>
<br>
<p>
このサイトで使用しているPDFファイル等の資料は、下記より入手しています。
<br>
①中小企業診断士2次試験過去問<br>
https://www.j-smeca.jp/contents/007_shiken.html<br>
②事例企業分析に使用した企業<br>
https://www.chusho.meti.go.jp/pamflet/hakusyo/H30/PDF/h30_pdf_mokujityuu.htm
</p>
<br>
<br>
<br>
   <%= link_to :back do %>
     <button>前に戻る</button>
   <% end %>
   