<h2>「学びの庭」の使い方</h2>
<br>
<p>　◇過去問を選択すると下図のように過去問リストが表示されます。</p>
<div align="center">
<img src="/assets/tmp.png" width="500" height="150" alt="">
</div>
<br>
<p>　◇過作成ボタンを押すと、過去問と問題欄が出るので解答して登録します。</p>
<div align="center">
<img src="/assets/touan.png" width="500" height="600" alt="">
</div>
<br>
<div align="center">
<img src="/assets/saiten.png" width="500" height="600" alt="">
</div>
<br>
<br>
<br>
 <%= link_to :back do %>
   <button>戻る</button>
 <% end %>
